<div class="filter level-left">
  <div class="field is-grouped">
    <div class="control">
      <%= form_for :filter, url: application_jobs_path(MissionControl::Jobs::Current.application, jobs_status), method: :get,
        data: { controller: "form", action: "input->form#debouncedSubmit" } do |form| %>

        <div class="select is-rounded">
          <%= form.text_field :job_class_name, value: @job_filters[:job_class_name], class: "input", list: "job-classes", placeholder: "Filter by job class...", autocomplete: "off" %>
        </div>

        <div class="select is-rounded">
          <%= form.text_field :queue_name, value: @job_filters[:queue_name], class: "input", list: "queue-names", placeholder: "Filter by queue name...", autocomplete: "off" %>
        </div>

        <% if jobs_status == "finished" %>
          <div class="field is-flex is-flex-direction-column is-align-items-flex-start">
            <label class="has-text-grey is-size-7">
              Finished from:
            </label>
            <div class="select is-rounded">
              <%= form.datetime_field :finished_at_start, value: @job_filters[:finished_at]&.begin, class: "input", placeholder: "Finished from" %>
            </div>
          </div>

          <div class="field is-flex is-flex-direction-column is-align-items-flex-start">
            <label class="has-text-grey is-size-7">
              Finished to:
            </label>
            <div class="select is-rounded">
              <%# TODO: add max date of today? %>
              <%= form.datetime_field :finished_at_end, value: @job_filters[:finished_at]&.end, class: "input", placeholder: "Finished to" %>
            </div>
          </div>
        <% end %>

        <div class="field is-flex is-flex-direction-column is-align-items-flex-start">
          <label class="has-text-grey is-size-7">
            Enqueued from:
          </label>
          <div class="select is-rounded">
            <%= form.datetime_field :enqueued_at_start, value: @job_filters[:enqueued_at]&.begin, class: "input", placeholder: "Enqueued from" %>
          </div>
        </div>

        <div class="field is-flex is-flex-direction-column is-align-items-flex-start">
          <label class="has-text-grey is-size-7">
            Enqueued to:
          </label>
          <div class="select is-rounded">
            <%# TODO: add max date of today? %>
            <%= form.datetime_field :enqueued_at_end, value: @job_filters[:enqueued_at]&.end, class: "input", placeholder: "Enqueued to" %>
          </div>
        </div>

        <div class="field is-flex is-flex-direction-column is-align-items-flex-start">
          <label class="has-text-grey is-size-7">
            Scheduled from:
          </label>
          <div class="select is-rounded">
            <%= form.datetime_field :scheduled_at_start, value: @job_filters[:scheduled_at]&.begin, class: "input", placeholder: "Scheduled from" %>
          </div>
        </div>

        <div class="field is-flex is-flex-direction-column is-align-items-flex-start">
          <label class="has-text-grey is-size-7">
            Scheduled to:
          </label>
          <div class="select is-rounded">
            <%# TODO: add max date of today? %>
            <%= form.datetime_field :scheduled_at_end, value: @job_filters[:scheduled_at]&.end, class: "input", placeholder: "Scheduled to" %>
          </div>
        </div>

        <%= hidden_field_tag :server_id, MissionControl::Jobs::Current.server.id %>

        <datalist id="job-classes" class="is-hidden">
          <% job_class_names.each do |job_class_name| %>
            <option value="<%= job_class_name %>"></option>
          <% end %>
        </datalist>

        <datalist id="queue-names" class="is-hidden">
          <% queue_names.each do |queue_name| %>
            <option value="<%= queue_name %>"></option>
          <% end %>
        </datalist>
      <% end %>
    </div>

    <div class="control">
      <%= link_to "Clear", application_jobs_path(MissionControl::Jobs::Current.application, jobs_status, job_class_name: nil, queue_name: nil, finished_at: nil..nil), class: "button" %>
    </div>
  </div>
</div>
