<tr class="job">
  <td>
    <div>
      <%= link_to job_title(job), application_job_path(@application, job.job_id) %>
      <span class="is-family-monospace ml-2 has-text-grey"><%= job.job_id[0...8] %>…</span>
    </div>

    <% if job.serialized_arguments.present? %>
      <div class="is-family-monospace"><%= job_arguments(job) %></div>
    <% end %>

    <div class="has-text-grey is-size-7">Enqueued <%= time_distance_in_words_with_title(job.enqueued_at.to_datetime) %> ago</div>
  </td>

  <%= render "mission_control/jobs/jobs/#{jobs_status}/job", job: job %>
</tr>
