<div class="buttons is-right level-right">
  <% if active_filters? %>
    <span class="mr-5">
      <%= jobs_count %> jobs found
    </span>
  <% end %>

  <% if jobs_status.failed? %>
    <% target = active_filters? ? "filtered" : "all" %>


    <%= form_with url: '#', method: :post, id: 'many_job_operations' do |f| %>
      <%= f.submit "Discard selected", formaction: application_many_discards_path(@application),
        class: "button is-danger is-light is-hidden", data: { "jobs-target": "discardSelectedButton" } %>
      <%= f.submit "Retry selected", formaction: application_many_retries_path(@application),
        class: "button is-warning is-light is-hidden", data: { "jobs-target": "retrySelectedButton" } %>
      <%= f.button "Discard #{target}", formaction: application_bulk_discards_path(@application, **jobs_filter_param),
        class: "button is-danger is-light", disabled: jobs_count == 0,
        data: { turbo_confirm: "This will delete #{jobs_count} jobs and can't be undone. Are you sure?",
          "jobs-target": "discardAllButton" } %>
      <%= f.button "Retry #{target}", formaction: application_bulk_retries_path(@application, **jobs_filter_param),
        class: "button is-warning is-light mr-0", disabled: jobs_count == 0,
        data: { turbo_confirm: "This will retry #{jobs_count} jobs. Are you sure?",
          "jobs-target": "retryAllButton" } %>
    <% end %>

  <% end %>
</div>
