<% navigation(title: "#{jobs_status.titleize} jobs", section: "#{jobs_status}_jobs".to_sym) %>

<% if @jobs_page.empty? && !active_filters? %>
  <%= blank_status_notice "There are no #{jobs_status.dasherize} jobs #{blank_status_emoji(jobs_status)}" %>
<% else %>
  <div class="level">
    <%= render "mission_control/jobs/jobs/filters", job_class_names: @job_class_names, queue_names: @queue_names %>
    <%= render "mission_control/jobs/jobs/toolbar", jobs_count: @jobs_count %>
  </div>

  <% if @jobs_page.empty? %>
    <%= blank_status_notice "No #{jobs_status.dasherize} jobs found with the given filters" %>
  <% else %>
    <%= render "mission_control/jobs/jobs/jobs_page", jobs_page: @jobs_page %>

    <%= render "mission_control/jobs/shared/pagination_toolbar", page: @jobs_page, filter_param: {} %>
  <% end %>
<% end %>

