<% navigation(title: "Worker #{@worker.id}", section: :workers) %>

<%= render "mission_control/jobs/workers/title", worker: @worker %>
<%= render "mission_control/jobs/workers/configuration", worker: @worker %>

<% if @worker.jobs.empty? %>
  <%= blank_status_notice "This worker is idle" %>
<% else %>
  <h2 class="subtitle">Running <%= @worker.jobs.size %> jobs</h2>

  <%= render "mission_control/jobs/shared/jobs", jobs: @worker.jobs %>
<% end %>

<%= render "mission_control/jobs/workers/raw_data", worker: @worker %>
