<% navigation(title: "Queue #{@queue.name}", section: :queues) %>

<h1 class="title">
  <div class="level">
    <div class="level-left">
      <%= @queue.name %> (<%= @queue.size %>)
      <% if @queue.paused? %>
        <span class="ml-4 tag is-warning">Paused</span>
      <% end %>
    </div>
    <div class="level-right">
      <%= render "mission_control/jobs/queues/actions", queue: @queue %>
    </div>
  </div>

</h1>

<table class="jobs table queues is-striped is-hoverable is-fullwidth">
  <tbody>
  <thead>
  <tr>
    <th>Job</th>
  </tr>
  </thead>

  <%= render partial: "mission_control/jobs/queues/job", collection: @jobs_page.jobs %>

  </tbody>
</table>

<%= render "mission_control/jobs/shared/pagination_toolbar", jobs_page: @jobs_page %>

