<div class="tabs is-boxed" id="navigation-sections">
  <ul>
    <% navigation_sections.each do |key, (label, url)| %>
      <li class="<%= "is-active" if key == current_section %>">
        <%= link_to label, url %>
      </li>
    <% end %>
  </ul>
</div>

<script>
  if (typeof navigationInterval === "undefined") {
    var navigationInterval = null;
  }

  document.addEventListener("turbo:load", () => {
    if (!window.Navigation || typeof window.Navigation.currentSection === 'undefined') {
      window.Navigation = {
        currentSection: "<%= @current_section %>",

        changeSection(section) {
          this.currentSection = section;
        }
      };

      startNavigationInterval();
    } else {
      window.Navigation.currentSection = "<%= @current_section %>";
    }
  });

  document.addEventListener("turbo:visit", () => {
    clearInterval(navigationInterval);
    startNavigationInterval();
  });

  function startNavigationInterval() {
    let urlParams = new URLSearchParams(window.location.search);

    navigationInterval = setInterval(() => {
      urlParams = new URLSearchParams(window.location.search);
      fetch(`<%= internal_api_navigation_index_path %>&server_id=${urlParams.get('server_id')}&section=${window.Navigation.currentSection}`)
        .then(response => response.text())
        .then(html => {
          console.log("updated navbar")
          
          const navigationSections = document.querySelector('#navigation-sections');
          if (navigationSections) {
            navigationSections.innerHTML = html;
          }
        })
        .catch(error => console.error("Error fetching navigation update:", error));
    }, 5000);
  }
</script>
