<!DOCTYPE html>
<html>
<head>
  <title>Mission control - <%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-cache-control" content="no-cache">
  <script src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0.4"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <%= render 'layouts/mission_control/jobs/style' %>
</head>
<body>

<section class="section">
  <div class="container">
    <%= render "layouts/mission_control/jobs/application_selection" %>
    <%= render "layouts/mission_control/jobs/flash" %>
    <%= render "layouts/mission_control/jobs/navigation" %>
    <%= yield %>
  </div>
</section>

</body>
</html>
