<!DOCTYPE html>
<html>
<head>
  <title>Mission control - <%= page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <%= stylesheet_link_tag "mission_control/jobs/application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>

<section class="section">
  <div class="container">
    <%= render "layouts/mission_control/jobs/flash" %>
    <%= render "layouts/mission_control/jobs/navigation" %>
    <%= yield %>
  </div>
</section>

</body>
</html>
