<tr class="job">
  <td>
    <%= link_to failed_job_path(job.job_id) do %>
      <%= job_title(job) %>
    <% end %>

    <% if job.serialized_arguments.present? %>
      <div class="is-family-monospace">
        <%= job_arguments(job) %>
      </div>
    <% end %>
  </td>
  <td>
    <%= link_to failed_job_error(job), "#" %>
    <div class="has-text-grey"><%= time_ago_in_words(job.failed_at) %> ago</div>
  </td>
  <td class="pr-0">
    <%= render "mission_control/jobs/failed_jobs/actions", job: job %>
  </td>
</tr>
